[core]
	excludesfile = /Users/sid/.config/git/ignore
	editor = nvim

[sequence]
    editor = nvim

[user]
	email = 10671794+SiddharthPant@users.noreply.github.com
	name = SiddharthPant

[pull]
  ff = only
  rebase = false

[push]
	autoSetupRemote = true

[rerere]
	enabled = true

[diff]
  algorithm = histogram

[alias]
	undo = reset --mixed HEAD^
[init]
	defaultBranch = main
