[core]
	excludesfile = /Users/sid/.config/git/ignore
	editor = zed --add --wait

[sequence]
    editor = zed --add --wait

[user]
	email = 10671794+SiddharthPant@users.noreply.github.com
	name = SiddharthPant

[pull]
  ff = only
  rebase = false

[push]
	autoSetupRemote = true

[rerere]
	enabled = true

[diff]
    algorithm = histogram
	tool = zed

[difftool "zed"]
    cmd = zed --add --wait --diff \"$LOCAL\" \"$REMOTE\"

[merge]
    tool = vscode

[alias]
	undo = reset --mixed HEAD^
	zdiff = difftool --dir-diff --no-symlinks
