excels/
themes/
.idea
.tox
/media
venv
db.sqlite3
src/local_settings.py

*.pyc
node_modules/
base/local_settings.py

*.log
*.DS_Store
static/admin
env/
assets/
static/css/
static/CACHE/
static/js/build
.vscode/
.env
.config/zed/.tmp*
.config/zed/conversations/
.config/zed/embeddings/
.config/zed/prompts/
.config/zed/settings_backup.json
